.navbarContainer{
    background-color: white;
    top:8.8%;
    left: 0;
    z-index: 9;  
    width:13%;
    height: 100vh;
    position:fixed;
}
.logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
}
.logo{
    width:125px;
    height:35px;
}
.singleroute{
    display: flex;
    align-items: center;
    gap:12px;
    margin-left: 30px;
}
.navlink{
  text-decoration: none;
  color:black;
  padding:10px;
}
.routeContainer{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 35px;
  }

.span{
    color: black;
    border: none;
    font-weight: 600;
 }