.table{
    border-collapse: collapse;
    width: 100%;
    font-size:14px;
    margin: 6px;
}
th,td{
    text-align: left;
    padding:7px;
    font-weight:500;
}

th{
    color:rgb(190, 190, 190);
}